.app__cart-main {
  padding: 2em 10em;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}

.ic-container {
  height: 20px;
  position: absolute;
  top: 1em;
  right: 1em;
}

.ic-container > img {
  height: 100%;
}

.ic-container:hover {
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em;
}

.cart-container {
  display: flex;
  padding: 1em;
  flex-direction: column;
  align-items: center;
  row-gap: 1em;
  position: relative;
  box-shadow: rgb(68, 67, 67) 0px 1px 3px 0px,
    rgba(68, 67, 67, 0.95) 0px 0px 0px 1px;
}

.cart-image-container {
  height: 15em;
}

.cart-image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.inc-dec-counter {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.cart-btn {
  padding: 0.2em 1em;
  font-size: 1.2em;
  outline: none;
  border: none;
  background: rgb(81, 81, 81);
  color: #ffff;
  border-radius: 5px;
}

.cart-btn:hover {
  cursor: pointer;
}

.count-value {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  color: rgb(81, 81, 81);
}

.totalQty {
  background: rgb(81, 81, 81);
  width: fit-content;
  margin: auto;
  font-weight: 600;
  font-size: 1em;
  color: #ffff;
  padding: 1em;
  border-radius: 4px;
}

.totalQty span {
  font-weight: 100;
}
