.app___footer-wrapper {
  padding: 2em 10em;
  background: rgb(68, 67, 67);
  color: #ffff;
}

.app___footer-wrapper .footer-inner-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-items,
.footer-contact {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.footer-contact a {
  color: #ffff;
  text-decoration: solid;
}
