@import url("https://fonts.googleapis.com/css?family=Poppins");

/* for em units */
body {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  letter-spacing: 2px;
}

.app__loader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app__loader h2 {
  margin-bottom: 2em;
}
